 #único{
   /* list-style-type: square;*/
   list-style-image: url(https://images.vexels.com/media/users/3/232361/isolated/lists/9789f051ed0450e9fa9b7e709e6a84f3-ilustracao-em-pe-de-elefante-fofo.png);
  list-style-position: inside;
}

table{
    table-layout: fixed;
    width: 500px;
    text-align: center;
    height: 250px;
    caption-side: top;
    border-style: dashed solid;
    border-color: aquamarine;
    border-collapse: collapse;
    
}

td, th{
    vertical-align: center;
    border-style:  solid;
    border-color: blueviolet;
    line-height: 100px;
    empty-cells: hide;
   
}

#Gui {
    background-color: blanchedalmond;
}

/*td:nth-child(1) {
    text-align: right;
    color:aquamarine;
    background-color: red;
}*/

